@model IEnumerable<MVC_Assessment_1.Models.Customer>

<h2>Customers in Germany</h2>

<table>
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Country</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.CustomerID</td>
            <td>@customer.CompanyName</td>
            <td>@customer.ContactName</td>
            <td>@customer.Country</td>
        </tr>
    }
</table>

